.component {
  display: flex;
  width: 100%;
  height: 100%;
}

.nav-bar {
  display: block;
  width: 140px;
  background: #FFFFFF;
}

.nav-bar .item {
 display: block;
 width: 100%;
 height: 3em;
 border: none;
 background: none;
 text-transform: uppercase;
 cursor: pointer;
 background:#F0F0F0;
 margin-bottom: 5px;
}

.nav-bar .item:hover {
  background: #D0D0D0;
}

.pane {
  display: block;
  width: 100%;
}
