.component-body {
  display: block;
  height: 100%;
  margin: 15px;
}

.main-panel {
  display: block;
  background: #FFFFFF;
  border-radius: 7px;
  overflow: hidden;
}

.title {
  display: block;
  margin: 15px;
}

.main-panel table {
  width: 90%;
  margin: 10px;
  margin: 15px, 0px, 15px, 15px;
}

.main-panel table th {
  height: 2em;
}

.main-panel table td {
  height: 2em;
  text-align: center;
}


