.menu {
  display: flex;
  height: 8vh;
  background-color: #FFFFFF;
  align-items: center;
}

.menu-items {
  display: flex;
}

.menu a {
  color: gray;
  text-decoration: none;
  margin-right: 15px;
}

.menu a div {
  display: flex;
  margin: 5px;
  font-size: 18px;
}

.app-body {
  display: block;
  height: 100vh;
  width: 100%;
}


.pane {
  display: flex;
  width: 100%;
  height:100vh;
}
