/**
GRAY: BFBFBF
**/

.component {
  display: flex;
  width: 100%;
}

.planningtable {
  display: block;
  width: 70%;
  margin:15px;
  background: #FFFFFF;
}

.tools{
  display: block;
  width: 20%;
  margin: 15px;
}

.siteoverview{
  display: block;
  width: 49%;
  margin: 15px;
}

.unplanned {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  height: 1.5em;
  border: 1px solid black;
  text-align: center;
}

table {
  width: 100%;
  table-layout: fixed;
}

.day {
  display: block;
  height: 200px;
  margin: 7px;
  border-radius: 10px;
  border: 1px solid #BFBFBF;
  box-shadow: 3px 3px 7px #BFBFBF;
  text-align: center;
}

.day .date {
  display: block;
  width: 100%;
  border-bottom: 1px solid #BFBFBF;
  margin-top: 5px;
  text-align: center;
  height: 1.5em;
}

.day .planned-list {
  display: flex;
  min-height: 9em;
  width: 100%;
  margin-top: 5px;
}

.day .planned-list .site {
  display: block;
  width:100%;
  font-size: 0.9em;
  color: #787878;
  height: 1.5em;
  text-align: center;
  overflow: hidden;
}
