.component {
  display: flex;
  width: 100%;
}

.planningtable {
  display: block;
  width: 70%;
  margin:15px;
  background: pink;
}

.tools{
  display: block;
  width: 20%;
  margin: 15px;
}

.siteoverview{
  display: block;
  width: 49%;
  margin: 15px;
}

.unplanned {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  height: 1.5em;
  border: 1px solid black;
  text-align: center;
}

table {
width: 100%;
}

.day {
  display: flex;
  height: 200px;
  background-color: #EDF7F7;
  margin: 7px;
  border-radius: 10px;
}

.day div {
  display: block;
  width: 100%;
  border: 1px solid #000000;
  margin-top: 5px;
  text-align: center;
  height: 1.5em;
}
