html,body{
	height:100%;
    height: 100vp;
	background-color:#CCCCCC;
}

body, div,
h1, h2, h3, h4, h5, h6,
 blockquote, pre, dl, dt, dd, ol, ul, li, hr,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
}

ol{
	list-style-type:none;
}

a:link,
a:visited,
a:active,
a:hover {
  outline: 0;
  text-decoration:none;
}
