<div class="component-body">
  <div class="main-panel">
    <div class="form-container">
      <h2>Voeg werkkrachten toe</h2>
      <form [formGroup]="workerForm" (ngSubmit)="onSubmit()">
        <div class="name-row">
          <div class="form-group">
            <label for="firstName">Voornaam *</label>
            <input
              id="firstName"
              type="text"
              formControlName="firstName"
              placeholder="Voornaam"
            />
            @if (workerForm.get('name')?.invalid && workerForm.get('name')?.touched) {
            <div class="error">Name is mandatory</div>
            }
          </div>
          <div class="form-group">
            <label for="firstName">Familienaam *</label>
            <input
              id="lastName"
              type="text"
              formControlName="lastName"
              placeholder="Familienaam"
            />
            @if (workerForm.get('name')?.invalid && workerForm.get('name')?.touched) {
            <div class="error">Name is mandatory</div>
            }
          </div>
        </div>
        <button type="submit" [disabled]="workerForm.invalid">Aanmaken</button>
      </form>
    </div>
    <div class="overview">
      <table>
        <thead>
          <th>Voornaam</th>
          <th>Familienaam</th>
        </thead>
        <tbody>
          @for ( worker of workers(); track worker.id ) {
            <tr>
              <td>{{ worker.first_name }}</td>
              <td>{{ worker.last_name }}</td>
              <td><button (click)="deleteWorker(worker.id)" >Verwijder</button></td>
            </tr>
          }
        </tbody>
      </table>
    </div>
